<head>
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>reg</title>
</head>

<div class="login-box">

    <h1>Registered</h1>

    <form action="/add" method="post">
        <div class="user-box">
            <input type="text" name="account" required="">
            <label>Username</label>
        </div>
        <div class="user-box">
            <input type="password" name="password" required="">
            <label>Password</label>
        </div>
        
        <div>
            <a>
                <input type="submit" name=" ">
                <span></span>
                <span></span>
                <span></span>
                <span></span>

            </a>
        </div>

    </form>